* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 40px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 80px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

li {
    list-style: none;
    display: flex;
    text-decoration: none;
    margin: 0 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.contactbtn {
    padding: 10px 20px;
    background-color: rgb(69, 48, 4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.contactbtn:hover {
    background-color: black;
    transition: 0.3s;
}

.logo img {}

#MenuItems li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#MenuItems li a:hover {
    color: rgb(255, 203, 91);
    transition: all ease-in-out 0.8s;
}
.maintitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#0D5EBA;
}
.hero img {
    width: 100%;
    height: auto;
}