* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #c5d2ce;
}
html, body {
    overflow-x: hidden;
}

.container {
    padding: 30px;
    border: 2px solid black;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: flex;
    text-decoration: none;
    margin: 0 50px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}





#MenuItems li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#MenuItems li a:hover {
    color: rgb(255, 203, 91);
    transition: all ease-in-out 0.8s;
}
.maintitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#0577fa;
    margin: 0px 50px;
}
.hero img {
    width: 100%;
    height:100%;

}
.hero2{
    margin-top: 60px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #002D69;
}
@media only screen and (max-width: 600px) {
    .hero2{
        font-size: 20px;
        text-align: center;
    }
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
}
.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    border-radius:10px ;
    border: #002D69 solid 2px;
    padding: 5px;

}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.addbtn{
    background-color: #0577fa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.addbtn:hover{
    background-color: #002D69;
    transition: all ease-in-out 0.5s;
}
.hero2wrap{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 100px;
}
.container1{
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    width:750px;
    padding: 80px;
    background-color: #002D69;
}
.container1 h1{
    background-color: #002D69;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
@media only screen and (max-width: 600px) {
    .container1{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .container1 h1{
        font-size: 28px;
        text-align: center;
    }
    .container1 p{
        font-size: 16px;
        text-align: center;
    }
}
.container1 p{
    background-color: #002D69;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}
.morebtn{
    background-color: white;
    color:#0577fa;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

}
.hero3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.container2 img{
    width: 29em;
    height: auto;
    margin-top: 50px;
}
.hero4{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
marquee img{
    margin-top: 20px;
    height: 300px;
    margin: 0 50px;
    margin-top: 50px;
}
.reviewcard{
    border: 2px solid rgb(252, 250, 250);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
    width: 400px;
}
.reviewcard img{
   margin-right: 1000px;
   margin-bottom: 20px;
}
.reviewcard p{
    font-size: 18px;
    margin-bottom: 10px;
}
.reviewcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.hero5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #002D69;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.servicecard{
    border: 2px solid rgb(183, 177, 177);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
    width: 400px;
}
.servicecard img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.servicecard2{
    border: 2px solid rgb(183, 177, 177);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
    width: 400px;
}
.servicecard2 img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.servicecard3{
    border: 2px solid rgb(183, 177, 177);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
    width: 400px;
}
.servicecard3 img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.servicecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.hero6{
    color: #002D69;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.morebtn2{
    background-color: #002D69;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.morebtn2:hover{
    background-color: #0577fa;
    transition: all ease-in-out 0.5s;
}
.morebtn1{
    text-align: center;
    margin-top: 20px;

}
footer{
    background-color: #2e8db6;
    color: rgb(77, 48, 194);
    text-align: center;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.footersection2{
    background-color: white;
    padding: 100px;
}
.footersection2 p{
    background-color: white;
    font-size: 14px;
    padding: 10px;
}
.footersection2 h1{
    background-color: white;

}
.morebtn4{
   border: #002D69 solid 2px;
   color: #f9f9fa;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 10px;
   background-color: #002D69;
}
.carticon{
    background-color: #2e8db6;
    color: rgb(15, 14, 14);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}       
.carticon p,h4 {
    background-color: #2e8db6;
    font-size: 18px;
    padding: 10px;  
}
.footer2{
    display: flex;
    justify-content: start;
}
.copyrightsection{
    padding: 10px;
    background-color: #2e8db6;
    color: rgb(13, 13, 13);
}
.copyrightsection p{
    background-color: #2e8db6;
    font-size: 14px;
    text-align: center;
    font-size: large;
}
.footer3{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.socialicons{
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: #002D69;
    background-color: #2e8db6;
}