*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
 li{
    list-style: none;
    display:flex;
    text-decoration: none;
    margin: 0 20px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}