* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 30px;
    border: 2px solid black;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: flex;
    text-decoration: none;
    margin: 0 50px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/* .contactbtn {
    padding: 10px 20px;
    background-color: rgb(69, 48, 4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.contactbtn:hover {
    background-color: black;
    transition: 0.3s;
} */



#MenuItems li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#MenuItems li a:hover {
    color: rgb(255, 203, 91);
    transition: all ease-in-out 0.8s;
}
.maintitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#0D5EBA;
    margin: 0px 50px;
}
.hero img {
    width: 100%;
    height: 100%;
    margin-top: 20px;

}
.hero2{
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #002D69;
}