* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #c5d2ce;
}
html, body {
    overflow-x: hidden;
}

.container {
    padding: 30px;
    border: 2px solid black;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: flex;
    text-decoration: none;
    margin: 0 50px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}





#MenuItems li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#MenuItems li a:hover {
    color: rgb(255, 203, 91);
    transition: all ease-in-out 0.8s;
}
.maintitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#0577fa;
    margin: 0px 50px;
}
/* .hero img {
    width: 100%;
    height: 100%; */

/* } */
.hero2{
    margin-top: 60px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #002D69;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    color:rgb(68, 10, 100);
}
.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    border-radius:10px ;
    border: #002D69 solid 2px;
    padding: 5px;

}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.addbtn{
    background-color: #0577fa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.addbtn:hover{
    background-color: #002D69;
    transition: all ease-in-out 0.5s;
}
.hero2wrap{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 100px;
}
.container1{
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    width:750px;
    padding: 80px;
    background-color: #002D69;
}
.container1 h1{
    background-color: #002D69;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.container1 p{
    background-color: #002D69;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}
.morebtn{
    background-color: white;
    color:#0577fa;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.hero3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.container2 img{
    width: 29em;
    height: auto;
    margin-top: 50px;
}
.hero4{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
marquee img{
    margin-top: 20px;
    height: 300px;
    margin: 0 50px;
    margin-top: 50px;
}
